<h1>Saved</h1>
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="btn btn-alert">SCRAPE NEW STUFF</a></li>
</ul>


<div class="container-fluid article-container">

</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>